.forgot-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #2b3249;
    color: white;
    border-radius: 8px;
}

.forgot-password-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.forgot-password-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}

.forgot-password-container button {
    width: 100%;
    padding: 12px;
    background-color: #ff416c;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-container button:hover {
    background-color: #ff4b2b;
}